<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Basic_Triangle_Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Triangle Pattern 1st
for i in range(5):
  for j in range(1,i+1):
    print("@",end=" ")
  print(" ")

@
@ @
@ @ @
@ @ @ @

In [ ]:
# Triangle Pattern 2nd
for i in range(5):
  for j in range(4-i):
    print("@",end=" ")
  print(" ")

@ @ @ @
@ @ @
@ @
@

In [ ]:
# Triangle Pattern 3rd
for i in range(5):
    print("  " * (4 - i), end="")   # print leading spaces (2 spaces per level)
    print("@ " * i)                 # print @ symbols with space

      @
    @ @
  @ @ @
@ @ @ @

In [ ]:
# Triangle Pattern 4th
for i in range(4, 0, -1):
    print("  " * (4 - i), end="")  # Increasing leading spaces
    print("@ " * i)                # Decreasing @ symbols

@ @ @ @
  @ @ @
    @ @
      @

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(i,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4

In [ ]:
for i in range(4,0,-1):
  for j in range(4 - i + 1):
    print(i,end=" ")
  print(" ")

4
3 3
2 2 2
1 1 1 1

In [ ]:
num=1
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:
num=10
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num-1
  print(" ")

10
9 8
7 6 5
4 3 2 1

In [ ]:
num=1
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+2
  print(" ")

1
3 5
7 9 11
13 15 17 19

In [ ]:
num=19
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num-2
  print(" ")

19
17 15
13 11 9
7 5 3 1

In [ ]:
num=2
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num = num + 2
  print(" ")

2
4 6
8 10 12
14 16 18 20

In [ ]:
num=20
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num = num - 2
  print(" ")

20
18 16
14 12 10
8 6 4 2

In [ ]:
for i in range(5):
  for j in range(4-i):
    print(j+1,end=" ")
  print(" ")

1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(5):
  for j in range(4-i):
    print(i+1,end=" ")
  print(" ")

1 1 1 1
2 2 2
3 3
4

In [ ]:
for i in range(4,0,-1):
  for j in range(i):
    print(i,end=" ")
  print(" ")

4 4 4 4
3 3 3
2 2
1

In [ ]:
n=1
for i in range(5):
  for j in range(4-i):
    print(n,end=" ")
    n=n+1
  print(" ")

1 2 3 4
5 6 7
8 9
10

In [ ]:
n=10
for i in range(5):
  for j in range(4-i):
    print(n,end=" ")
    n=n-1
  print(" ")

10 9 8 7
6 5 4
3 2
1

In [ ]:
n=1
for i in range(5):
  for j in range(4-i):
    print(n,end=" ")
    n=n+2
  print(" ")

1 3 5 7
9 11 13
15 17
19

In [ ]:
n=19
for i in range(5):
  for j in range(4-i):
    print(n,end=" ")
    n=n-2
  print(" ")

19 17 15 13
11 9 7
5 3
1

In [ ]:
n=2
for i in range(5):
  for j in range(4-i):
    print(n,end=" ")
    n=n+2
  print(" ")

2 4 6 8
10 12 14
16 18
20

In [ ]:
n=20
for i in range(5):
  for j in range(4-i):
    print(n,end=" ")
    n=n-2
  print(" ")

20 18 16 14
12 10 8
6 4
2

In [7]:
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(k,end=" ")

  print(" ")

      1
    1 2
  1 2 3
1 2 3 4

In [8]:
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(i,end=" ")

  print(" ")

      1
    2 2
  3 3 3
4 4 4 4

In [13]:
for i in range(4, 0, -1):
    for j in range(i - 1):
        print("  ", end="")  # Print spaces to indent
    for k in range(5 - i):
        print(i, end=" ")
    print()

      4
    3 3
  2 2 2
1 1 1 1

In [14]:
num=1
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num+1

  print(" ")

      1
    2 3
  4 5 6
7 8 9 10

In [15]:
num=10
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num-1

  print(" ")

      10
    9 8
  7 6 5
4 3 2 1

In [16]:
num=1
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num+2

  print(" ")

      1
    3 5
  7 9 11
13 15 17 19

In [17]:
num=19
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num-2

  print(" ")

      19
    17 15
  13 11 9
7 5 3 1

In [18]:
num=2
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num+2

  print(" ")

      2
    4 6
  8 10 12
14 16 18 20

In [20]:
num=20
for i in range(5):
  for j in range(1,4-i+1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num-2

  print(" ")

      20
    18 16
  14 12 10
8 6 4 2

In [26]:
for i in range(4):
    for j in range(i):
        print(" ", end=" ")
    for k in range(1, 5 - i):
        print(k, end=" ")
    print(" ")

1 2 3 4
  1 2 3
    1 2
      1

In [31]:
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(i+1, end=" ")
    print(" ")

1 1 1 1
  2 2 2
    3 3
      4

In [32]:
num=1
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(num, end=" ")
        num=num+1
    print(" ")

1 2 3 4
  5 6 7
    8 9
      10

In [33]:
num=10
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(num, end=" ")
        num=num-1
    print(" ")

10 9 8 7
  6 5 4
    3 2
      1

In [34]:
num=1
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(num, end=" ")
        num=num+2
    print(" ")

1 3 5 7
  9 11 13
    15 17
      19

In [35]:
num=19
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(num, end=" ")
        num=num-2
    print(" ")

19 17 15 13
  11 9 7
    5 3
      1

In [36]:
num=2
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(num, end=" ")
        num=num+2
    print(" ")

2 4 6 8
  10 12 14
    16 18
      20

In [37]:
num=20
for i in range(5):
    for j in range(i):
        print(" ", end=" ")
    for k in range(4 - i):
        print(num, end=" ")
        num=num-2
    print(" ")

20 18 16 14
  12 10 8
    6 4
      2