<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Day1_Standardization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Machine Learning:

How you train your ml models

Workflow of Machine Learning

Data Ingestion -->  Data Cleaning and Preprocessing

Model Training  --> Model Prediction --> Model accuracy

Feature Engineering --> Clean and Preprocess

1. Data Dividation:

df --> Input(x) , Target(y)

x --> x_train, x_test

y --> y_train, y_test

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\vinit\Downloads\placement.csv")
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [ ]:
df.shape

(100, 3)

In [ ]:
x = df.drop(columns=['placed']) # input data
x.shape

(100, 2)

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\vinit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in c:\users\vinit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\vinit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\vinit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vinit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\vinit\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
y = df['placed'] # target data
y.shape

(100,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.2,
                                                    random_state=42)

In [ ]:
print(f"Total data shape: {df.shape}, x data shape: {x.shape}, y data shape: {y.shape}")
print("x_train shape:", x_train.shape)
print("x_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

Total data shape: (100, 3), x data shape: (100, 2), y data shape: (100,)
x_train shape: (80, 2)
x_test shape: (20, 2)
y_train shape: (80,)
y_test shape: (20,)

In [ ]:
df = pd.read_csv(r"C:\Users\vinit\Downloads\covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
df['fever'].mean()

np.float64(100.84444444444445)

In [ ]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [ ]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [ ]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [ ]:
df['gender'] = df['gender'].map({'Female':0,'Male':1})

In [ ]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [ ]:
df['cough'] = df['cough'].map({'Mild':0,'Strong':1})

In [ ]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [ ]:
df['city'] = df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})

In [ ]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [ ]:
df['has_covid'] = df['has_covid'].map({'No':0,'Yes':1})

In [ ]:
df.head(5)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0
3   31       0   98.0      0     0          0
4   65       0  101.0      0     3          0

In [ ]:
df.shape

(100, 6)

In [ ]:
x = df.drop(columns=['has_covid']) # input data
x.shape

(100, 5)

In [ ]:
y = df['has_covid'] # target data
y.shape

(100,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.2,
                                                    random_state=56)

In [ ]:
print(f"Total data shape: {df.shape}, x data shape: {x.shape}, y data shape: {y.shape}")
print("x_train shape:", x_train.shape)
print("x_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

Total data shape: (100, 6), x data shape: (100, 5), y data shape: (100,)
x_train shape: (80, 5)
x_test shape: (20, 5)
y_train shape: (80,)
y_test shape: (20,)

In [ ]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   44.39    0.45  100.68   0.38   1.26
std    25.37    0.50    1.96   0.49   1.09
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00   99.00   0.00   0.00
50%    45.00    0.00  100.84   0.00   1.00
75%    69.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
x_train_sc = sc.fit_transform(x_train)
# Fit means learn the parameter and transform mean apply on that data.

In [ ]:
x_train_new = pd.DataFrame(x_train_sc, columns = x.columns)
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.90  -1.38  -0.77  -1.17
25%    -0.97   -0.90  -0.87  -0.77  -1.17
50%     0.02   -0.90   0.08  -0.77  -0.24
75%     0.98    1.11   0.68   1.29   0.68
max     1.57    1.11   1.71   1.29   1.61

In [ ]:
# We will perform the same on Placement data:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\vinit\Downloads\placement.csv")
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [ ]:
df.head(5)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [ ]:
df.shape

(100, 3)

In [ ]:
x = df.drop(columns=['placed']) # input data
x.shape

(100, 2)

In [ ]:
y = df['placed'] # target data
y.shape

(100,)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.2,
                                                    random_state=42)

In [ ]:
print(f"Total data shape: {df.shape}, x data shape: {x.shape}, y data shape: {y.shape}")
print("x_train shape:", x_train.shape)
print("x_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

Total data shape: (100, 3), x data shape: (100, 2), y data shape: (100,)
x_train shape: (80, 2)
x_test shape: (20, 2)
y_train shape: (80,)
y_test shape: (20,)

In [ ]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
x_train_sc = sc.fit_transform(x_train)
# Fit means learn the parameter and transform mean apply on that data.

In [ ]:
x_train_new = pd.DataFrame(x_train_sc, columns = x.columns)
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05