<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Day2_Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv(r"C:\Users\vinit\Downloads\covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

# Normalization:
* Data's minimum value = 0
* and maximum value  = 1

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
si = SimpleImputer(strategy='mean')

In [ ]:
df['fever'] = si.fit_transform(df[['fever']])

In [ ]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

Encoding --> Transform your categorial data into Numerical data.

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb = LabelEncoder()

In [ ]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [ ]:
df.head(2)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1

In [ ]:
x = df.drop(columns=['has_covid'])
y = df['has_covid']

In [ ]:
from sklearn.model_selection import train_test_split

# Example test_size filled in
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd

In [ ]:
mn = MinMaxScaler()

In [ ]:
x_train_mn = mn.fit_transform(x_train)

In [ ]:
x_train_new = pd.DataFrame(x_train_mn, columns=x.columns)

In [ ]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [ ]:
import numpy as np
import pandas as pd
df1 = pd.read_csv(r"C:\Users\vinit\Downloads\placement.csv")
df1.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
si = SimpleImputer(strategy='mean')

In [ ]:
# Standardization and Then Normalization:
# import from categorial and numerical
# data name insurance data
# target column = charges
# data import --> encode --> Standardization
# data import --> encode --> Normalization

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv(r"C:\Users\vinit\Downloads\insurance.csv")
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [ ]:
x = df.drop(columns = ['charges']) # Input data
x.shape

(1338, 6)

In [ ]:
y = df['charges'] # target data
y.shape

(1338,)

In [ ]:
from sklearn.model_selection import train_test_split # Library
x_train, x_test, y_train, y_test = train_test_split(x, y,
                                                    test_size = 0.2,
                                                    random_state = 56)
print(f"Total data shape:{df.shape}, x data shape: {x.shape}, y data shape: {y.shape}")
print(f"x_train shape: {x_train.shape}")
print(f"x_test shape: {x_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

Total data shape:(1338, 7), x data shape: (1338, 6), y data shape: (1338,)
x_train shape: (1070, 6)
x_test shape: (268, 6)
y_train shape: (1070,)
y_test shape: (268,)

In [ ]:
np.round(x_train.describe(),2)

           age      bmi  children
count  1070.00  1070.00   1070.00
mean     39.52    30.71      1.09
std      14.04     6.09      1.21
min      18.00    16.82      0.00
25%      27.00    26.22      0.00
50%      40.00    30.50      1.00
75%      52.00    34.80      2.00
max      64.00    53.13      5.00

In [ ]:
df['sex'].value_counts()
df['sex'] = df['sex'].map({"female":0,"male":1})
df['smoker'].value_counts()
df['smoker'] = df['smoker'].map({"no":0,"yes":1})
df['region'].value_counts()
df['region'] = df['region'].map({"southwest":0,"southeast":1,"northwest":2,"northeast":3})

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
x_train['sex'] = le.fit_transform(x_train['sex'])
x_train['smoker'] = le.fit_transform(x_train['smoker'])
x_train['region'] = le.fit_transform(x_train['region'])

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)

# Optional: convert back to DataFrame
x_train_scaled = pd.DataFrame(x_train_sc, columns=x_train.columns)

In [ ]:
x_train_new = pd.DataFrame(x_train_sc, columns = x_train.columns)
np.round(x_train_new.describe(),2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean      0.00     0.00     0.00     -0.00    -0.00    -0.00
std       1.00     1.00     1.00      1.00     1.00     1.00
min      -1.53    -1.02    -2.28     -0.90    -0.51    -1.38
25%      -0.89    -1.02    -0.74     -0.90    -0.51    -0.48
50%       0.03     0.98    -0.03     -0.08    -0.51     0.43
75%       0.89     0.98     0.67      0.75    -0.51     0.43
max       1.74     0.98     3.69      3.22     1.94     1.33