<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Functions_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Functions: are a block of code which we repeatatively used to execute
# our tasks.
# Due to functions there is code readable, code reusuality

# Definition of functions in Python: reusable blocks of code designed to
# perform a specific task. They serve to organize code, improve readability,
# reduce redundancy, and facilitate modularity within a program.

In [ ]:
# Types of Functions:
# 1. User defined Functions
# 2. Inbuilt Functions (Pre-defined Functions)

# 1. User Defined Functions: The functions which user created as per
# their task or their requirement.
# 2. In-built Functions (Pre-defined Function): The functions which are
# already defined in python. like an example:
# In list: append, insert, popen
# In set: union, Is_superset
# In tuple: Count, Index.

In [ ]:
# How to created a functions in other languages:
# int void() { --> Data type
#     // Logic --> Statements
# }

# But python is dynamic, Interpreted language, hence we didn't
# tell the data type when creating of function:

# def func():
#   //logic

In [ ]:
def greeting():
  print("Hey, user I welcomed you onboard.")

In [ ]:
greeting() # For first user
greeting() # For second user

Hey, user I welcomed you onboard.
Hey, user I welcomed you onboard.

In [ ]:
# Differentiate between loops and functions:

# Loops are used for repetition. They execute a block of code multiple
# times based on a condition or for a specified number of iterations.

# Functions are used for encapsulation and reusability. They group a set of
# related instructions into a named block of code that can be called and
# executed from different parts of a program.

In [ ]:
# Functions: Arguments and Parameters:
def greeting(z): # --> here z is parameter, formal parameter, Informal Argument.
  print("Hey user",z,"I welcomed you onboard.")

In [ ]:
# But when we call the functions(greeting), if we don't give the arguments,
# it will show error.

greeting("Vinit") # --> This is :"argument".
greeting("Sunil") # --> This is :"argument".
# greeting() # --> functions call with no argument.

# As we saw below the upper two greeting were run but the third greeting
# will be giving error. because we didn't gave the argument.

# TypeError: greeting() missing 1 required positional argument: 'z'

Hey user Vinit I welcomed you onboard.
Hey user Sunil I welcomed you onboard.

In [ ]:
# Factor of a Number: This is normal method to get the
# factors of any number.

n = int(input("Enter a Number: "))
for i in range(1,n+1):
  if n%i == 0:
    print(f"Factor of {n}:",i)

Enter a Number: 12
Factor of 12: 1
Factor of 12: 2
Factor of 12: 3
Factor of 12: 4
Factor of 12: 6
Factor of 12: 12

In [ ]:
# Now same with the functions:

def factor(n):
  for i in range(1,n+1):
    if n%i == 0:
      print(f"Factor of {n}:",i)

In [ ]:
factor(15)
# If we gave the float value:
# TypeError: 'float' object cannot be interpreted as an integer

Factor of 15: 1
Factor of 15: 3
Factor of 15: 5
Factor of 15: 15

In [ ]:
def Armstrong(n):
  Original = n
  count = 0
  sum = 0
  temp = n

  while temp > 0:
      temp = temp // 10
      count = count + 1
  for i in range(count):
      digit = n % 10
      sum = sum + (digit ** count)
      n = n // 10
  if sum == Original:
      print(Original, "is an Armstrong number")
  else:
      print(Original, "is not an Armstrong number")

In [ ]:
Armstrong(153)

153 is an Armstrong number

In [ ]:
# In Functions: Type of Argument Passing (value pass)

def func(Id,name,salary):
  print(f"Id is {Id} name is {name}, salary is {salary}")

In [ ]:
# 1. func() # Required Argument
# Required Argument: In this when we call an functions and didn't gave the
# argument correspondence to the parameters then its gave us a error.

# Because we need an argument and this is called as Required Argument.
# TypeError: func() missing 3 required positional arguments: 'Id', 'name', and 'salary'

func(5298,"sunil",15000) # This may be in the correct sequence.
func(8597,salary=25000,name="Vinit")

# If we gave unnecessary extra values when call the function.
# func(5298,8597,"Vinit","Shubham",15000,20000)
# This gave us error:
# TypeError: func() takes 3 positional arguments but 6 were given

Id is 5298 name is sunil, salary is 15000
Id is 8597 name is Vinit, salary is 25000

In [ ]:
# 2. Positions Argument: Positions of Arguments means alot here.

func(1234,"vinit",30000) # This is the correct positioning.
# but if we change the positions of arguments.
func("vinit",30000,1234)
# Output: Id is vinit name is 30000, salary is 1234 --> see This
# Id is vinit name is 30000 salary is 1234

Id is 1234 name is vinit, salary is 30000
Id is vinit name is 30000, salary is 1234

In [ ]:
# 3. Keyword Argument:
func(Id=5298,name="Vinit",salary=35000) # : with keyword arguments
# we didn't want to remember the position of parameter and arguments.

Id is 5298 name is Vinit, salary is 35000

In [ ]:
def func(Id,name,salary):
  print(f"Id is {Id} name is {name}, salary is {salary}")

#  if we pass 10, it will be automatically placed at 1st argument in Id,,
# name = "Vinit"
# func(10,name="Sumit") # --> Not working gave error because salary value not given.
# func(10,salary="Vinit",1000)  Based on keyword argument salary --> Vinit
# and on 1000 is also salary by position argument. Also gave us error.
func (10,name="Vinit",salary=1000)
# In python: if we call a function through keyword argument then the
# next all the values should be passed through keyword argument.

Id is 10 name is Vinit, salary is 1000

In [ ]:
# If we want to gave the value of any parameter or not want to run that parameter:
# 4. Default Argument:
def func(Id,name,salary=5298): # put the default Parameter(value)
  print(f"Id is {Id} name is {name}, salary is {salary}")

func(10,name="Vinit") # Program will run without an error
# Now gave the salary value:
func(10,name="Vinit",salary=8000) # In future we gave the value
# And our program also run without an error.

Id is 10 name is Vinit, salary is 5298
Id is 10 name is Vinit, salary is 8000

In [ ]:
# Return Statement in Python:
# Python return statement is used to exit the function and return a value.
# The return keyword is used to specify a value that a function should return
# when a function is called. It performs some calculations or operations and
# then returns the value or a set of values to the calling code.
def add_numbers(a, b):
    return a + b

result = add_numbers(7, 9)
print("Output of first:",result)

# Print Statement in Python
# The print statement is a built-in function in Python that is used
# to display output to the console or terminal.

print("Hello! My name is Vinit Gatt")

Output of first: 16
Hello! My name is Vinit Gatt

In [ ]:
# LCM of 3 numbers with function:

def lcm(a=18,b=36,c=48):
  lcm = max(a,b,c)

  for lcm in range(max(a, b, c), a * b * c + 1):
    if lcm % a == 0 and lcm % b == 0 and lcm % c == 0:
        print(f"The LCM of {a} and {b} and {c} is: {lcm}")
        break

In [ ]:
lcm()

The LCM of 18 and 36 and 48 is: 144

In [ ]:
# return vs print() in function:
def func(x):
  return(x+10) # return output as 15.
  # return always return a value.
a = func(5)
print("a:",a) # But print always only display the result.

a: 15

In [ ]:
# Args and kwargs:
# Variable len Argument: Variable length arguments in Python
# allow a function to accept an arbitrary number of arguments.
def facebook(*args):
  print(args)
# The numbers of arguments can change as per our choice.
facebook("Vinit")
facebook("Vinit","AITR")
facebook("Vinit","Single","AITR")

# This gave us the output in the Tuple format:

# The problem in this argument is suppose a user gave name, in married
# they gave college name and in college name they gave us their married status,
# So to sort this issue we use keyword length argument.

('Vinit',)
('Vinit', 'AITR')
('Vinit', 'Single', 'AITR')

In [ ]:
# Keyword variable length Argument:
def facebook(**kwargs):
  print(kwargs)

facebook(name="Vinit")
facebook(name="Vinit",college="AITR")
facebook(name="Vinit",married="Single",college="AITR")

# This gave us the output in Dictionary Format.

{'name': 'Vinit'}
{'name': 'Vinit', 'college': 'AITR'}
{'name': 'Vinit', 'married': 'Single', 'college': 'AITR'}

In [ ]:
# Lambda Functions: They are particularly useful when you need a simple
# function for a short period.

# 1 line functions or Annynmous Functions:
# bcz they don't have a name

def func(x):
  print(x+10)
  return 100  #("As, return value")

x=func(20) # --> Print 30
print("After function:",x)
# Now if we want to use this 30 output later in our program
# so as simple as we can make a new variable x = 30.

30
After function: 100

In [ ]:
# How to use lambda Function: in 1 line code
# lambda parameter: expression

a = lambda x:x+10
a(15) # call this lambda function

25

In [ ]:
# Without any variable run or call the lambda function:
(lambda x:x+10)(20)

30

In [ ]:
# Indexing of string: till two characters using slicing and split function.
def func(str):
  num=str.split()
  for i in num:
    print(i,i[0:2])

str = "Hey Hello user"
func(str)

Hey He
Hello He
user us

In [ ]:
# Same with the lambda function:
a = lambda x:x[0:3]
for i in "hey hello user".split(" "):
  print(i,i[0:3])
  a=(i,i[0:3])

hey hey
hello hel
user use

In [ ]:
# Print only Even and odd numbers from the list using lambda function.
list = [2, 5, 7]
x = [[i] for i in list if i%2==0]
print("Even Numbers from list",x)
x = [[i] for i in list if i%2 !=0]
print("Odd Numbers from list",x)

#2:
mylist = [2,3,9,4]
x = [[i] for i in mylist if i%2 == 0]
print("Even Numbers from list",x)
x = [[i] for i in mylist if i%2 != 0]
print("Odd Numbers from list",x)

Even Numbers from list [[2]]
Odd Numbers from list [[5], [7]]
Even Numbers from list [[2], [4]]
Odd Numbers from list [[3], [9]]

In [ ]:
# Summaries of all the above:
def func():
  print("Vinit Gatt")

x = func() # First Execution
print("x:",x) # print: doesn't return any value as output as none.

Vinit Gatt
x: None

In [ ]:
def func1():
  print("Vinit Gatt")

x = func1 # Memory of func is assigned to x.
print("x=>",x) # output as memory address of function x.
x() # First Class functions
# We have both options as we can run the problem through func1 or with x also.

x=> <function func1 at 0x7c49b07a8f40>
Vinit Gatt

In [ ]:
# What is a first-class function in Python?
# In Python, functions are first-class objects meaning they can be
# assigned to variables, passed as arguments and returned from other
# functions.

def func():
  print("Vinit Gatt")

x = func # Assigned the value in x variable
x() # call it by that variable name x.
# called as First class Functions.

Vinit Gatt

In [ ]:
mydictionary = {
    "Name": lambda: "Vinit Gatt",
    "MobileNum": lambda: 8770976648
}

# Accessing the values:
print(mydictionary["Name"]())        # Output: Vinit Gatt
print(mydictionary["MobileNum"]())   # Output: 8770976648

Vinit Gatt
8770976648

In [ ]:
mydictionary["Name"]()

'Vinit Gatt'

In [ ]:
mydictionary["MobileNum"]()

8770976648

In [1]:
# Life scope of a Variable.
# Types of Variables based on Scope:

# Local Variables: Declared inside a function or block.
# Their scope is limited to that specific function or block.

# Global Variables: Declared outside of any function.
# Their scope is the entire program.

In [17]:
# High order Functions: The Functions which takes the another functions
# as an argument and return a function as result(output) are called as
# High Order Functions.

def square(num):
  return(num ** 2)
# a = 4
def power4(a,b): # b is same as square
  print(a,b)
  print("Function call:",b(a)*b(a))
  # 4**4 * 4**4 = 16 * 16 = 256

power4(4,square)
# 4*4 = 16 and square value = 16
# 16 * 16 = 256

4 <function square at 0x793d91a28f40>
Function call: 256

In [ ]:
# High Order Functions vs First Class Functions:
# All functions are first-class functions, but higher-order functions
# are a special category where functions are used as arguments or
# return values.