<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/List_Test_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
# 1. Write a Python program to find the maximum element in a list of numbers without
# max functions
# numbers = [10, 20, 4, 45, 99]
# The maximum element is: 99

list = [10, 20, 4, 45, 99]
maximum_Element = list[0]

for index in range(len(list)):
  if list[index] > maximum_Element:
    maximum_Element = list[index]
print(maximum_Element)

99

In [ ]:
# 2. Write a Python program to sum all the elements in a list of numbers.
# a. numbers = [10, 20, 30, 40]
# b. The sum of all elements is: 100

mylist=[10, 20, 30, 40]
sum=0

for i in range(len(mylist)):
  sum=sum+mylist[i]
print(sum)

100

In [109]:
# 3. Write a Python program to reverse a list without reverse or slicing operator
# a. numbers = [1, 2, 3, 4, 5]
# b. Reversed list: [5, 4, 3, 2, 1]

mylist = [1, 2, 3, 4, 5]
revlist=[]

for index in range(len(mylist)-1,-1,-1):
  revlist.append(mylist[index])
print(revlist)

[5, 4, 3, 2, 1]

In [112]:
# 4. Write a Python program to sort a list in ascending order without sort functions

mylist=[10, 20, 4, 45, 99]
print("Before:",mylist)

for i in range(len(mylist)):
  for j in range(i+1,len(mylist)):
    if mylist[i]>mylist[j]:
      temp=mylist[i]
      mylist[i]=mylist[j]
      mylist[j]=temp
print("After:",mylist)

Before: [10, 20, 4, 45, 99]
After: [4, 10, 20, 45, 99]

In [ ]:
# 5. Write a Python program to remove duplicates from a list while maintaining the order
# of elements.
# a. numbers = [1, 2, 2, 3, 4, 4, 5]
# b. List after removing duplicates: [1, 2, 3, 4, 5]

mylist=[1, 2, 2, 3, 4, 4, 5]
duplicate=[]
for i in range(len(mylist)):
  if mylist[i] not in duplicate:
    duplicate.append(mylist[i])
print(duplicate)

[1, 2, 3, 4, 5]

In [114]:
# 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
# target sum.
# a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6
# b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

mylist = [1, 2, 3, 4, 3, 5, 6]
target_sum = 6
pairs=[]

for index in range(len(mylist)):
  for index1 in range(index + 1,len(mylist)):
    if mylist[index] + mylist[index1] == target_sum:
      pairs.append((mylist[index],mylist[index1]))
print(pairs)

[(1, 5), (2, 4), (3, 3)]

In [ ]:
# 8. Write a Python program to find the sum of the elements in a list, excluding the largest
# and smallest element. Donâ€™t use max or min functions
# a. numbers = [1, 2, 3, 4, 5]
# b. Sum excluding the largest and smallest element: 9

list=[1, 2, 3, 4, 5]
small=list[0]
large=list[0]

for index in range(len(list)):
  if list[index]<small:
    small=list[index]
  if list[index]>large:
    large=list[index]
total_sum=0
for index in range(len(list)):
  total_sum=total_sum+list[index]
result=total_sum-large-small
print(result)

9

In [ ]:
# 9. Write a Python program to check if a list is a palindrome (reads the same backward
# as forward) using two pointer approach
# a. numbers = [1, 2, 3, 2, 1]
# b. True

list=[1, 2, 3, 2, 1]
s=0
e=len(list)-1

is_Palindrome=True

while list[s]<list[e]:
  if list[s]!=list[e]:
    is_Palindrome=False
    break
  s+=1
  e-=1
print(is_Palindrome)

True

In [ ]:
# 10. Write a function to remove duplicate elements from a list.
# a. numbers = [1, 2, 3, 2, 4, 5, 1, 6]
# b. [1, 2, 3, 4, 5, 6]

list=[1, 2, 3, 2, 4, 5, 1, 6]
duplicate=[]

for i in range(len(list)):
  if list[i] not in duplicate:
    duplicate.append(list[i])
print(duplicate)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 11. Find Common Elements in Two Lists
# a. list1 = [1, 2, 3, 4, 5]
# b. list2 = [3, 4, 5, 6, 7]
# c. Result: [3, 4, 5]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
count=[]

for i in list1:
  if i in list2:
    count.append(i)
print(count)

[3, 4, 5]

In [ ]:
# 12. Find the Longest Word in a List
# a. words = ["apple", "banana", "strawberry", "kiwi"]
# b. Strawberry

words = ["apple", "banana", "strawberry", "kiwi"]
longest=""

for word in words:
  if len(word)>len(longest):
    longest=word
print(longest)

strawberry

In [ ]:
# 14. Find Missing Number in a List
# You are given a list of n-1 numbers in the range 1 to n. One number is missing
# from the sequence. Find the missing number.
# a. numbers = [1, 2, 4, 5, 6]
# b. 3

list=[1, 2, 4, 5, 6]
n=len(list)+1

exp_sum=0
for i in range(1,n+1):
  exp_sum=exp_sum+i
print(exp_sum)

act_sum=0
for index in list:
  act_sum=act_sum+index
print(act_sum)

missing_num=exp_sum-act_sum
print(missing_num)

21
18
3

In [ ]:
# Some Practice Questions || For test

In [ ]:
# Access the list
mylist=[10,20,30,40,50]
print(mylist[1]) #-- Index

20

In [ ]:
# Change the item of list.
mylist=[10,20,30,40,50] # On index 0 -- 10
mylist[0]=100
print(mylist) # But now on index 0 -- 100

[100, 20, 30, 40, 50]

In [ ]:
# Replace the value via index value position:

a = [10, 20, 30, 40, 50] # -- Current list
a[2]=99 # -- Via index we change replace the value
print(a)

[10, 20, 99, 40, 50]

In [ ]:
# append function:
a = [2, 5, 6, 7] # -- Current List
print(a)
a.append(8) # Use append to insert the value in the last of list.
print(a)

[2, 5, 6, 7]
[2, 5, 6, 7, 8]

In [ ]:
# insert function:
fruit = ["banana","cherry","grape"]
fruit.insert(0,"Apple") # insert any thing in start or middle of list.
# but also we have to given the index value also.
fruit.append("Mango")
print(fruit)

['Apple', 'banana', 'cherry', 'grape', 'Mango']

In [ ]:
# Using pop() - remove item by Index

a = [10, 20, 30, 40, 50]
# Remove element at index 1 and return its value in val
val = a.pop(1)
print(a)
print("Removed Item:", val)

[10, 30, 40, 50]
Removed Item: 20

In [ ]:
# How To Find the Length of a List in Python

a = [10, 20, 30, 40, 50]
print(len(a))

5

In [ ]:
# Python program to interchange first and last elements in a list

a = [10, 20, 30, 40, 50]
a[0],a[-1]=a[-1],a[0] # -- Interchange first and last elements.
print(a)

[50, 20, 30, 40, 10]

In [ ]:
# Python Program to Swap Two Elements in a List

a = [10, 20, 30, 40, 50]

temp=a[2] # temp = 30
a[2]=a[4] # 30 = 50
a[4]=temp # 50 = temp

print(a)

[10, 20, 50, 40, 30]

In [ ]:
# Check if element exists in list in Python

a = [10, 20, 30, 40, 50]

if 30 in a:
  print("element exists in list.")
else:
  print("element not exists in list.")

element exists in list.

In [ ]:
# Reversing a List in Python
a = [1, 2, 3, 4, 5]
rev=[]

for i in range(len(a)-1,-1,-1):
  rev.append(a[i])
print(rev)

[5, 4, 3, 2, 1]

In [ ]:
# Count occurrences of an element in a list in Python

a = [1, 3, 2, 6, 3, 2, 8, 2, 9, 2, 7, 3]

print(a.count(2)) # How many time 2 is present in list. -- 4 times
print(a.count(3)) # How many time 3 is present in list. -- 3 times

4
3

In [ ]:
# Sum and average of list

a = [10, 20, 30, 40, 50]
sum = 0
l = 0

for val in a:
    sum += val
    l += 1

avg = sum / l if a else 0

print(sum)
print(avg)

150
30.0

In [ ]:
# Sum of digit

a = [123, 456, 789]
res = []

for val in a:
    total = 0
    while val > 0:
        total = total + val % 10
        val = val // 10
    res.append(total)

print(res)

[6, 15, 24]

In [ ]:
# Multiply All Numbers in the List in Python
a = [2, 4, 8, 3]
res=1
for i in a:
  res=res*i
print(res)

192

In [ ]:
# Python program to find smallest number in a list
a = [8, 3, 5, 1, 9, 12]
min=a[0]

for i in range(len(a)):
  if a[i]<min:
    min=a[i]
print(min)

1

In [ ]:
# Python Program to Find Largest Number in a List

a = [10, 24, 76, 23, 12]
max = a[0]

for i in range(len(a)):
  if a[i] > max:
    max = a[i]
print(max)

76

In [ ]:
# Python program to find second largest number in a list

a = [10, 20, 4, 45, 99]
max=a[0]
smax=0

for i in range(len(a)):
  if a[i]>smax:
    smax=max
    max=a[i]
print(max,smax)

99 45

In [ ]:
# Print even numbers in a list - Python
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res=[]
for i in range(len(a)):
  if a[i]%2==0:
    res.append(a[i])
print(res)

[2, 4, 6, 8, 10]

In [ ]:
# Print odd numbers in a list - Python
a = [10, 15, 23, 42, 37, 51, 62, 5]
res=[]

for i in range(len(a)):
  if a[i]%2 != 0:
    res.append(a[i])
print(res)

[15, 23, 37, 51, 5]

In [ ]:
# Python Program to Count Even and Odd Numbers in a List
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

even=0
odd=0

for i in range(len(a)):
  if a[i]%2==0:
    even+=1
  else:
    odd+=1
print("Even Numbers Count:",even)
print("Odd Numbers Count:",odd)

Even Numbers Count: 4
Odd Numbers Count: 5

In [ ]:
# Python program to print positive numbers in a list
a = [-10, 15, 0, 20, -5, 30, -2]
res=[]
for i in range(len(a)):
  if a[i] > 0:
    res.append(a[i])
print(res)

[15, 20, 30]

In [ ]:
# Python program to print negative numbers in a list
a = [5, -3, 7, -1, 2, -9, 4]
res=[]
for i in range(len(a)):
  if a[i] < 0:
    res.append(a[i])
print(res)

[-3, -1, -9]

In [ ]:
# Python program to count positive and negative numbers in a list
a = [10, -20, 30, -40, 50, -60, 0]
pos=0
neg=0
for i in range(len(a)):
  if a[i] < 0:
    pos += 1
  elif a[i] > 0:
    neg += 1
print(pos)
print(neg)

3
3

In [ ]:
# Remove Multiple Elements from List in Python

a = [10, 20, 30, 40, 50, 60, 70]

# Elements to remove
remove = [20, 40, 60]

# Remove elements using a simple for loop
res = []

for val in a:
    if val not in remove:
        res.append(val)
print(res)

[10, 30, 50, 70]

In [ ]:
# Program to print duplicates from a list of integers in Python

a = [1, 2, 3, 1, 2, 4, 5, 6, 5]
dup=[]

for i in range(len(a)):
  if a[i] not in dup:
    dup.append(a[i])
print(dup)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Remove first element from list in Python

a = [1, 2, 3, 4]

a.pop(0)
print(a)

# val=a.pop(0)
# print(val)

[2, 3, 4]

In [ ]:
# Merge Two Lists in Python

a = [1, 2, 3]
b = [4, 5, 6]

c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [67]:
# Find average of a list in python

a = [2, 4, 6, 8, 10]
sum=0
count=0
for i in range(len(a)):
  sum += a[i]
  count += 1
  avg=sum//count
print("Sum of list:",sum)
print("Count of list:",count)
print("Average of list:",avg)

Sum of list: 30
Count of list: 5
Average of list: 6

In [68]:
# Python | Intersection of two lists

a = [4, 9, 1, 17, 11, 26, 28, 54, 69]
b = [9, 9, 74, 21, 45, 11, 63, 28, 26]
common=[]
for i in a:
  if i in b:
    common.append(i)
print(common)

[9, 11, 26, 28]

In [74]:
# Check if two lists are identical in Python

a = [1, 2, 4] #-- instead of 4 there is 3.
b = [1, 2, 4]

res= a==b
print("First Output:",res) # -- False

a = [1, 2, 3] #-- instead of 4 there is 3.
b = [1, 2, 4]

res= a==b
print("Second Output:",res)

First Output: True
Second Output: False

In [81]:
# Position of maximum and minimum element in a list - Python

a = [3, 5, 7, 2, 8, 1]

mxvalue = mnvalue = a[0]
mxposition = mnposition = 0

for i, value in enumerate(a):
    if value > mxvalue:
        mxvalue = value
        mxposition = i
    if value < mnvalue:
        mnvalue = value
        mnposition = i

print(mxposition)
print(mnposition)

4
5

In [94]:
# Python - Union of two or more Lists
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
c = a + b
Unique=[]

for i in range(len(c)):
  if c[i] not in Unique:
    Unique.append(c[i])
print(Unique)

[1, 2, 3, 4, 5, 6]

In [105]:
# List Product Excluding Duplicates - Python
a = [1, 3, 5, 6, 3, 5, 6, 1]
unique=[]
product=1
for i in range(len(a)):
  if a[i] not in unique:
    unique.append(a[i])

for i in unique:
  product=product*i
print(product)

90