<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Patterns_1st_June.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")

  print(" ")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print("*",end=" ")
  print(" ")

* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print("*",end=" ")
  print(" ")

  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")

        *
      * *
    * * *
  * * * *

In [ ]:
# Tried for the first Triangle Pattern

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(5-j,end=" ")
  print(" ")

4
4 3
4 3 2
4 3 2 1

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(5-i,end=" ")
  print(" ")

4
3 3
2 2 2
1 1 1 1

In [ ]:
num=1
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:
num=10
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num-1
  print(" ")

10
9 8
7 6 5
4 3 2 1

In [ ]:
num=1
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+2
  print(" ")

1
3 5
7 9 11
13 15 17 19

In [ ]:
num=19
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num-2
  print(" ")

19
17 15
13 11 9
7 5 3 1

In [ ]:
num=2
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+2
  print(" ")

2
4 6
8 10 12
14 16 18 20

In [ ]:
num=20
for i in range(1,5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num-2
  print(" ")

20
18 16
14 12 10
8 6 4 2

In [ ]:
# Tried for the 2nd Triangle Pattern

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(j+1,end=" ")
  print(" ")

1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(i,end=" ")
  print(" ")

1 1 1 1
2 2 2
3 3
4

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(5-j-1,end=" ")
  print(" ")

4 3 2 1
4 3 2
4 3
4

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(5-i,end=" ")
  print(" ")

4 4 4 4
3 3 3
2 2
1

In [ ]:
num=1
for i in range(1,5):
  for j in range(5-i):
    print(num,end=" ")
    num=num+1
  print(" ")

1 2 3 4
5 6 7
8 9
10

In [ ]:
num=10
for i in range(1,5):
  for j in range(5-i):
    print(num,end=" ")
    num=num-1
  print(" ")

10 9 8 7
6 5 4
3 2
1

In [ ]:
num=1
for i in range(1,5):
  for j in range(5-i):
    print(num,end=" ")
    num=num+2
  print(" ")

1 3 5 7
9 11 13
15 17
19

In [ ]:
num=19
for i in range(1,5):
  for j in range(5-i):
    print(num,end=" ")
    num=num-1
  print(" ")

19 18 17 16
15 14 13
12 11
10

In [ ]:
num=2
for i in range(1,5):
  for j in range(5-i):
    print(num,end=" ")
    num=num+2
  print(" ")

2 4 6 8
10 12 14
16 18
20

In [ ]:
num=20
for i in range(1,5):
  for j in range(5-i):
    print(num,end=" ")
    num=num-2
  print(" ")

20 18 16 14
12 10 8
6 4
2

In [ ]:
# Tried for the 3rd Triangle Pattern

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(k+1,end=" ")
  print(" ")

  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(i,end=" ")
  print(" ")

  1 1 1 1
    2 2 2
      3 3
        4

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(5-k-1,end=" ")
  print(" ")

  4 3 2 1
    4 3 2
      4 3
        4

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(5-i,end=" ")
  print(" ")

  4 4 4 4
    3 3 3
      2 2
        1

In [ ]:
num=1
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(num,end=" ")
    num=num+1
  print(" ")

  1 2 3 4
    5 6 7
      8 9
        10

In [ ]:
num=10
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(num,end=" ")
    num=num-1
  print(" ")

  10 9 8 7
    6 5 4
      3 2
        1

In [ ]:
num=1
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(num,end=" ")
    num=num+2
  print(" ")

  1 3 5 7
    9 11 13
      15 17
        19

In [ ]:
num=19
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(num,end=" ")
    num=num-1
  print(" ")

  19 18 17 16
    15 14 13
      12 11
        10

In [ ]:
num=2
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(num,end=" ")
    num=num+2
  print(" ")

  2 4 6 8
    10 12 14
      16 18
        20

In [ ]:
num=20
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print(num,end=" ")
    num=num-2
  print(" ")

  20 18 16 14
    12 10 8
      6 4
        2

In [ ]:
# Tried for 4th Triangle Pattern

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(k,end=" ")
  print(" ")

        1
      1 2
    1 2 3
  1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(i,end=" ")
  print(" ")

        1
      2 2
    3 3 3
  4 4 4 4

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(5-k,end=" ")
  print(" ")

        4
      4 3
    4 3 2
  4 3 2 1

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(5-i,end=" ")
  print(" ")

        4
      3 3
    2 2 2
  1 1 1 1

In [ ]:
num=1
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print(" ")

        1
      2 3
    4 5 6
  7 8 9 10

In [ ]:
num=10
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num-1
  print(" ")

        10
      9 8
    7 6 5
  4 3 2 1

In [ ]:
num=1
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num+2
  print(" ")

        1
      3 5
    7 9 11
  13 15 17 19

In [ ]:
num=19
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num-1
  print(" ")

        19
      18 17
    16 15 14
  13 12 11 10

In [ ]:
num=2
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num+2
  print(" ")

        2
      4 6
    8 10 12
  14 16 18 20

In [ ]:
num=20
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(num,end=" ")
    num=num-2
  print(" ")

        20
      18 16
    14 12 10
  8 6 4 2

In [ ]:
# ASCII Characters Triangle:

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(64+j),end=" ")
  print(" ")

A
A B
A B C
A B C D

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(69-j),end=" ")
  print(" ")

D
D C
D C B
D C B A

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(64+i),end=" ")
  print(" ")

A
B B
C C C
D D D D

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(69-i),end=" ")
  print(" ")

D
C C
B B B
A A A A

In [ ]:
num=65
for i in range(5):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num=num+1
  print(" ")

A
B C
D E F
G H I J

In [ ]:
num=90
for i in range(5):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num=num-1
  print(" ")

Z
Y X
W V U
T S R Q

In [ ]:
num1=65
num2=1

for i in range(1,5):
  for j in range(1,i+1):
    print(chr(num1),num2,end=" ")
    num1+=1
    num2+=1
  print(" ")

A 1
B 2 C 3
D 4 E 5 F 6
G 7 H 8 I 9 J 10

In [ ]:
num1=74
num2=10

for i in range(1,5):
  for j in range(1,i+1):
    print(chr(num1),num2,end=" ")
    num1-=1
    num2-=1
  print(" ")

J 10
I 9 H 8
G 7 F 6 E 5
D 4 C 3 B 2 A 1

In [ ]:
num=90
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num=num-2
  print(" ")

Z
X V
T R P
N L J H

In [ ]:
# Hollow Pattern:

In [ ]:
#Hollow Square
for i in range(1,6): #row
  for j in range(1,6): #coloum
    if i==1 or i==5 or j==1 or j==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#Hollow Rectangle:
for i in range(1,6): #row
  for j in range(1,11): #coloum
    if i==1 or i==5 or j==1 or j==10:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * * * * * * * * *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j==1 or i==4 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

*
* *
*   *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j==1 or i==1 or j==5-i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * * *
*   *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or j==4 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * * *
  *   *
    * *
      *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==4 or j==4 or j==5-i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

      *
    * *
  *   *
* * * *

In [ ]:
#Pyramid Pattern:

for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# Inverted Pyramid Pattern:

for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(0,5-i+1):
    print("*",end=" ")
  print(" ")

 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
# Diamond Shaped Pattern:

for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(1,5-i+1):
    print("*",end=" ")
  print(" ")

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#Hollow Pyramid Pattern:
for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    if k==1 or k==i or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

    *
   * *
  *   *
 *     *
* * * * *

In [ ]:
#Hollow Inverted Pyramid Pattern:
for i in range(1,6):  # i = 1 to 5
  for j in range(1,i+1):
    print(" ",end="")  # Leading spaces
  for k in range(0,5-i+1):  # Decreasing stars per row
    if k==0 or k==5-i or i==1:
      print("*",end=" ")  # Print border or bottom row
    else:
      print(" ",end=" ")  # Hollow space
  print(" ")

 * * * * *
  *     *
   *   *
    * *
     *

In [ ]:
for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    print(k,end=" ")
  print(" ")

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(0,5-i+1):
    print(k+1,end=" ")
  print(" ")

 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [ ]:
# No Gapping Pyramid Pattern from 1 to 9 stars:

for i in range(1, 6):  # Outer loop for rows
    for j in range(5  - i):  # Inner loop for spaces
        print(" ", end=" ")
    for k in range(1, 2 * i):  # Inner loop for stars
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# No Gapping Inverted Pyramid Pattern from 1 to 9 stars:

for i in range(5 , 0, -1):  # Outer loop for rows in reverse
    for j in range(5  - i):  # Inner loop for spaces
        print(" ", end=" ")
    for k in range(1, 2 * i):  # Inner loop for stars
        print("*", end=" ")
    print()  # Move to the next line

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
for i in range(1,6):  # Upper part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end=" ")
    print()
for i in range(5 - 1, 0, -1):  # Lower part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
rows = int(input("Enter the row size for the pattern: "))
for i in range(1, rows + 1):  # Upper part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print("*", end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()
for i in range(rows - 1, 0, -1):  # Lower part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print("*", end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()

Enter the row size for the pattern: 5
        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *