<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/practiceLTDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# How variable stores in Memory:
age = 10
print("Memory of age:",id(age))

x=age
print("Memory of x:",id(x))

x = 20
print("Memory of x after value changes:",id(x))
print("Memory of age after value changes:",id(age))

Memory of age: 10758024
Memory of x: 10758024
Memory of x after value changes: 10758344
Memory of age after value changes: 10758024

In [ ]:
# List Datatypes:
# List is a datatype which store the collection of data.
# List is mutable datatype:
# mutable: We can make changes in data(values).
# immutable: We can not make changes in data(values).
# How can we make list:
list = []
print(list)

[]

In [ ]:
# Index in list:

list = ["Vinit",1,2,3,4,5,"abc"]
print(list[0] or list[-7])
print(list[1] or list[-6])
print(list[2] or list[-5])
print(list[3] or list[-4])
print(list[4] or list[-3])
print(list[5] or list[-2])
print(list[6] or list[-1])

# List is also a Sequence datatype:Ordered:
# Elements have a specific order and can be accessed by their index.
# 1. Indexed: Each element has an associated index, starting from 0 for the first element.
# 2. Iterable: They can be looped through using for loops.
# 3. Slicing: Subsequences can be extracted using slicing notation [start:stop:step].
# 4. Common Operations: Sequences support operations like concatenation,
#   repetition, membership testing, and length calculation.

Vinit
1
2
3
4
5
abc

In [ ]:
# How to make and then check the type of datatype:

list = [10, 20,"abc"]
print(type(list))

<class 'list'>

In [ ]:
# How to check the length of list:

mylist=[10,20,30,40,50,60]
print(len(mylist))

6

In [ ]:
mylist=[10,20,"abc"]
print(mylist)
# We want to insert any data in list.
mylist.append(90)
print(mylist)
# But when we use the append command so the data will
# automatically insert at the end of the list.
mylist.append(100)
print(mylist)

[10, 20, 'abc']
[10, 20, 'abc', 90]
[10, 20, 'abc', 90, 100]

In [ ]:
# We want to insert any data in list.(in the middle of list)
# Not asked and also not suggest this command.

print(mylist)
mylist.insert(2,30) #Insert command: with the given index
# we insert the data at that place.
print(mylist)
# whenever we run the code the value 30 will be insert in the list.

[10, 20, 'abc', 90, 100]
[10, 20, 30, 'abc', 90, 100]

In [ ]:
# We want to update the data of list:
print(mylist)
mylist[4]=99 # --> with this, update the element of list.
print(mylist) # --> Give the index and equals to that value
# which we want to update with the previous one.

[10, 20, 30, 'abc', 99, 100]
[10, 20, 30, 'abc', 99, 100]

In [ ]:
# If we want to delete the Element from the list:

print(mylist)
mylist.pop() # Delete the last Element.
print(mylist)
mylist.pop(0) # 0th index will be deleted.
print(mylist) # Delete the Element which we gave the index.

[10, 20, 30, 'abc', 99, 100]
[10, 20, 30, 'abc', 99]
[20, 30, 'abc', 99]

In [ ]:
# POP Command:
# pop always gave us a return value means which we delete lastly that
# value pop will automatically gave us.

a=[10,20] #-- Create a list.
print("List:",a)
a.append(30) # add a data(element) in last of list.
print("Add Element at last:",a)
a.insert(3,40) # add a data in index which we want.
print("Add Element by index Value:",a)
a[0]=100 # Update the value.
print("Update the value:",a)
b=a.pop() # Delete the value.
print("Delete the value:",a,b)

List: [10, 20]
Add Element at last: [10, 20, 30]
Add Element by index Value: [10, 20, 30, 40]
Update the value: [100, 20, 30, 40]
Delete the value: [100, 20, 30] 40

In [ ]:
# How to sort the values of list:

x=[10,30,20,40,5,8,9,1,2,4,6,3,7]
x.sort() # Sort Function will sort the values in Ascending order.
print("Sorted list:",x)

Sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40]

In [ ]:
# How to reverse the values of list:

x=[5,4,3,2,1]
x.reverse() # Reverse all the values.
print("Reverse the values of list:",x)

Reverse the values of list: [1, 2, 3, 4, 5]

In [ ]:
# How to access each element of list:
# In list we run a loop directly:
# Means: for i in list:
list = [10,20,30,40,3,2,70]
for i in range(len(list)):
  print("Index",i,"=","Value:",list[i])

Index 0 = Value: 10
Index 1 = Value: 20
Index 2 = Value: 30
Index 3 = Value: 40
Index 4 = Value: 3
Index 5 = Value: 2
Index 6 = Value: 70

In [ ]:
# Problem: check in the list for those numbers which are
# greater than 10:

list = [10,20,30,40,3,2,70]
for i in range(len(list)):
  if list[i] > 10:
    print("Index:",i,"Value:",list[i])

Index: 1 Value: 20
Index: 2 Value: 30
Index: 3 Value: 40
Index: 6 Value: 70

In [ ]:
# Problem: Check all the odd numbers and Even Numbers and
# also get it in the new list.

list = [10,23,33,40,3,2,7,9,10]
newlist_OddNumber = []
newlist_EvenNumber = []
for i in range(len(list)):
  if list[i] % 2 != 0:
    newlist_OddNumber.append(list[i])
  if list[i] % 2 == 0:
    newlist_EvenNumber.append(list[i])

print("Newlist for Even:",newlist_EvenNumber)
print("Newlist for Odd:",newlist_OddNumber)

Newlist for Even: [10, 40, 2, 10]
Newlist for Odd: [23, 33, 3, 7, 9]

In [ ]:
# Problem: To check the Minimum Number from the list.

list = [10,23,33,40,3,2,7,9,10]
minElement=list[0]

for i in range(len(list)):
  if list[i] < minElement:
    minElement = list[i]
print(minElement)

2

In [ ]:
# Problem: To check the maximum Number from the list.

list = [10,23,33,40,3,2,7,9,10]
maxElement=list[0]

for i in range(len(list)):
  if list[i] > maxElement:
    maxElement = list[i]
print(maxElement)

40

In [ ]:
# Problem: To check the Second Maximum Number and Second Minimum Number from the list.

list = [10,23,33,40,3,2,7,9,10]
maxElement = list[0]
minElement = list[0]
smaxElement = 0
sminElement = 0

for i in range(len(list)):
  if list[i] > maxElement:
    smaxElement = maxElement
    maxElement = list[i]
  elif list[i] > smaxElement: #and list[i] != maxElement
    smaxElement = list[i]
  if list[i] < minElement:
    sminElement = minElement
    minElement = list[i]
  elif list[i] < sminElement: #and list[i] != minElement:
    sminElement = list[i]
print("Maximum Element:",maxElement)
print("Second Maximum Element:",smaxElement)
print("Minimum Element:",minElement)
print("Second Minimum Element:",sminElement)

Maximum Element: 40
Second Maximum Element: 33
Minimum Element: 2
Second Minimum Element: 3

In [ ]:
# Problem: To print all the Even values of the list in a newlist.
list = [10,23,33,40,3,2,7,9,10]
Even_Number_list = []
for i in range(len(list)):
  if list[i] % 2 == 0:
    Even_Number_list.append(list[i])
print(Even_Number_list)

[10, 40, 2, 10]

In [ ]:
# Problem: To print all the Odd values of the list in a newlist.
list = [10,23,33,40,3,2,7,9,10]
Odd_Number_list = []
for i in range(len(list)):
  if list[i] % 2 != 0:
    Odd_Number_list.append(list[i])
print(Odd_Number_list)

[23, 33, 3, 7, 9]

In [ ]:
# Problem: To print the sum of all values of the list.
list = [10,23,33,40,3,2,7,9,10]
sum = 0
for i in range(len(list)):
  sum = sum + list[i]
print("Sum of all values:",sum)

Sum of all values: 137

In [ ]:
# Problem: To print the reverse of values of the list.

# With reverse Function:
list = [1,2,3,4,5,6,7]
list.reverse()
print("Reverse list with reverse function:",list)

# Without reverse Function:
list = [1,2,3,4,5,6,7]
reverselist = []
for i in range(len(list)-1,-1,-1):
  reverselist.append(list[i])
print("Reverse list without reverse Function:",reverselist)

Reverse list with reverse function: [7, 6, 5, 4, 3, 2, 1]
Reverse list without reverse Function: [7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Problem: To sort the value of list in ascending order:

# With Sorting Function:
list = [10,23,33,40,3,2,7,9,10]
list.sort()
print("Sorting list with Sorting function:",list)

# Without Sorting Function:
list = [10,23,33,40,3,2,7,9,10]

for i in range(len(list)):
  for j in range(i+1,len(list)):
    if list[i] > list [j]:
      temp = list[i]
      list[i] = list[j]
      list[j] = temp
print("Sorting list without Sorting function:",list)

Sorting list with Sorting function: [2, 3, 7, 9, 10, 10, 23, 33, 40]
Sorting list without Sorting function: [2, 3, 7, 9, 10, 10, 23, 33, 40]

In [ ]:
# Problem: To print the count of the values in the list:
list = [10,23,33,40,3,2,7,9,10]
count = 0
for i in range(len(list)):
  count = count + 1
print("Count of values in list:",count)

Count of values in list: 9

In [ ]:
# Problem: To print the duplicate element from the list.
# Method 1:
list = [10,23,33,40,3,2,7,9,10]
duplicate = []

for i in range(len(list)):
  if list[i] not in duplicate:
    duplicate.append(list[i])
print("Remove the Duplicate Values:",duplicate)

# Method 2:
list = [10,23,33,40,3,2,7,9,10]
# step 01: we have to sorted this list:
for i in range(len(list)):
  for j in range(i+1,len(list)):
    if list[i] > list[j]:
      temp = list[i]
      list[i] = list[j]
      list[j] = temp
print(list)
# Now we remove the duplicate in New list:
duplicate = []
for i in list:
  if i not in duplicate:
    duplicate.append(i)
print("Remove the Duplicate Values:",duplicate)

Remove the Duplicate Values: [10, 23, 33, 40, 3, 2, 7, 9]
[2, 3, 7, 9, 10, 10, 23, 33, 40]
Remove the Duplicate Values: [2, 3, 7, 9, 10, 23, 33, 40]

In [ ]:
# problem: To check weather the list is palindrome or not.

list = [1,2,1,2,1]
start = 0
end = len(list) - 1
is_palindrome = True

while start < end:
    if list[start] != list[end]:
        is_palindrome = False
        break
    start = start + 1
    end = end - 1
print(is_palindrome)

True

In [ ]:
# Example 2: To check weather the list is palindrome or not.

list = [1, "Vinit", "Vinit", 1]
start = 0
end = len(list)-1

is_palindrome = True

while start < end:
  if list[start] != list[end]:
    is_palindrome = False
    break
  start = start + 1
  end = end - 1
print(is_palindrome)

True

In [ ]:
# Split Function: --> Split the charcaters of any string.
s = "hello hey user hello."
s.split(" ") # --> In this we have to gave for which we want to
# run the split function.

['hello', 'hey', 'user', 'hello.']

In [ ]:
# Split the words:
s = "hello hey user hello"
Newdata = s.split(" ")
count = 0
for word in Newdata:
  if word == "hello": # --> we have to check how many time "hello" will occurs.
    count = count + 1
print(count)

9

In [ ]:
# Problem: Run a while loop which print the values from 0 to 4th index:
new1 = [20,30,9.0,199,100]
i = 0
while i <= 4:
  print(i,new1[i])
  i = i + 1

0 20
1 30
2 9.0
3 199
4 100

In [ ]:
# Swapping of two integers:
# Method 1:
a = 10
b = 20
a,b = b,a
print("a=",a,"b=",b)

a= 20 b= 10

In [ ]:
# Method 2: Swapping of two integers with third variable.
a=10
b=20
temp= a
a = b
b = temp
print("a=",a,"b=",b)

a= 20 b= 10

In [ ]:
# Method 3: Swapping of two integers without third variable.
a=10
b=20
a = a + b
b = a - b
a = a - b
print("a=",a,"b=",b)

a= 20 b= 10

In [ ]:
# Reverse of list value in different method:

# Method 1:
mylist = [1,2,3,4,5]
revlist=[]

for i in range(len(mylist)-1,-1,-1):
  revlist.append(mylist[i])
print("Method 1 Resultant:",revlist)

# Method 2:
mylist = [1,2,3,4,5]
start = 0
end = len(mylist) - 1

while start != end:
  temp = mylist[start]
  mylist[start] = mylist[end]
  mylist[end] = temp
  start = start + 1
  end = end - 1
print("Method 2 Resultant:",mylist)

Method 1 Resultant: [5, 4, 3, 2, 1]
Method 2 Resultant: [5, 4, 3, 2, 1]

In [ ]:
# To print the sorted list from the given list.

mylist = [10,3,20,5,30,40,50]
print("Before Sorting list:",mylist)
for i in range(len(mylist)):
    for j in range(i+1,len(mylist)):
        if mylist [i] > mylist[j]:
            temp = mylist[i]
            mylist[i] = mylist[j]
            mylist[j] = temp
print("After Sorting list:",mylist)

Before Sorting list: [10, 3, 20, 5, 30, 40, 50]
After Sorting list: [3, 5, 10, 20, 30, 40, 50]

In [ ]:
# To print the sorted list from the given list but with single loop.

mylist = [10, 3, 20, 5, 30, 40, 50]
print("Before Sorting:", mylist)

i = 0
while i < len(mylist) - 1:
    if mylist[i] > mylist[i + 1]:
        # Swap
        mylist[i], mylist[i + 1] = mylist[i + 1], mylist[i]
        # Reset to start to ensure full sorting
        i = 0
    else:
        i += 1
print("After Sorting:", mylist)

Before Sorting: [10, 3, 20, 5, 30, 40, 50]
After Sorting: [3, 5, 10, 20, 30, 40, 50]

In [ ]:
# Tuple: is a datatype, which collects multiple values which based on index.
# Tuples are immutable datatype.

In [ ]:
# Tuple:
x = 10,20,30
print(type(x))

<class 'tuple'>

In [ ]:
# In tuple the values are in brackets or not.
x = 10,20,30
y = (10,20,"abc")
print("Type of x:",type(x))
print("Type of y:",type(y))

Type of x: <class 'tuple'>
Type of y: <class 'tuple'>

In [ ]:
# Tuples are immutable datatype so
# we are unable to change the values in tuple:
# x=(10,20,30)
# x[0]=100 # --> Unable to change the value

In [ ]:
# That's Why in tuple we only have two commands are there.
# 1. count command:

x = (10,20,"abc",10,10,40,90)
print(x.count(10))
# By this count command we know how many time "10" in tuple.

# 2. Index command:

x = (10,20,"abc",10,10,40,90)
print(x.index(40)) # 40 is a 5th index.
# By this index command we know the index of "10" in tuple.

3
5

In [ ]:
# Difference between List and Tuple:

# List:
# 1. Lists are mutable(can be modified).
# 2. Iteration over lists is time-consuming.
# 3. Lists are better for performing operations,
#   such as insertion and deletion.
# 4. Lists consume more memory.
# 5. Lists have several built-in methods.
# 6. Lists are more prone to unexpected changes and errors.

# Tuple:
# 1. Tuples are immutable(cannot be modified).
# 2. Iterations over tuple is faster.
# 3. Tuples are more suitable for accessing elements efficiently.
# 4. Tuples consumes less memory.
# 5. Tuples have fewer built-in methods.
# 6. Tuples, being immutable are less error prone.

In [ ]:
# Dictionary:
# Dictionary is datatype which stores collection of Multiple
# data but without index Position.

# The data will be stored in key: value format.
# Key: is always a unique data means no duplicate.
# With the help of key (unique data) we can easily find or
# access the value.

# Value: Can be unique can be duplicate.
# Example: I have two cell numbers, so Vinit: Value but the mobile number
# is unique 8770976648 and 9926693100 so here mobile number is key.
# because there are more than one Vinit but the mobile number is unique.

# Dictionary are mutable, we can change the values.
# but no index position.

In [ ]:
# Why we created Dictionary:

# If suppose we have list = [1,3,4,5,6] Now we want to insert any data here (2) at
# index [1] Position so all the value 3,4,5,6 --> are move towards right side, means it
# takes too much time (time complexity).
# Also when we delete any data here (1) and 0th Index position so all the values are
# moved towards left side <-- 3,4,5,6 It also take too much time, So due to this we
# used dictionary because dictionary have no indexing and we easily insert or delete
# any data easily.
# And the time which takes while inserting or deleting called as O(n) (big O of n).

In [ ]:
# In dictionary we only insert one data or delete on value(data) at once.
# which takes less time so here time called as = O(1).

In [ ]:
# How to creates dictionary:

mydictionary = {101:"tushar","Salary":200000,"email":"vinitgatt1@gmail.com"}
print(mydictionary)

{101: 'tushar', 'Salary': 200000, 'email': 'vinitgatt1@gmail.com'}

In [ ]:
# How to access data from dictionary:

mydictionary = {101:"tushar","Salary":200000,"email":"vinitgatt1@gmail.com"}
print(mydictionary["email"])

vinitgatt1@gmail.com

In [ ]:
mydictionary = {101:"tushar","Salary":200000,"email":"vinitgatt1@gmail.com"}
print(mydictionary["Salary"])

200000

In [ ]:
# We want to change the value in dictionary: (update key:value pair)
mydictionary = {101:"tushar","Salary":200000,"email":"vinitgatt1@gmail.com"}
mydictionary["email"] = "vinitgatt9@gmail.com"
# --> In output we can see that the email Id: have been changed from previous one.
print(mydictionary)

{101: 'tushar', 'Salary': 200000, 'email': 'vinitgatt9@gmail.com'}

In [ ]:
# How to insert any key:value at the last of dictionary:
mydictionary = {101:"tushar","Salary":200000,"email":"vinitgatt1@gmail.com"}
mydictionary["city"] = "Indore" # Inserting a new data.
# Same as updating the data.
print(mydictionary)

{101: 'tushar', 'Salary': 200000, 'email': 'vinitgatt1@gmail.com', 'city': 'Indore'}

In [ ]:
# Summaries:
x={10:"Vinit"} # -- Create
print(x)
x[20] = "Priyanshi" # -- Insert
print(x)
x[10] = "Vinit Loves" # -- Update
print(x)

{10: 'Vinit'}
{10: 'Vinit', 20: 'Priyanshi'}
{10: 'Vinit Loves', 20: 'Priyanshi'}

In [ ]:
# How to check all the keys in dictionary:
mydictionary.keys()

dict_keys([101, 'Salary', 'email', 'city'])

In [ ]:
# How to check all the values in dictionary:
mydictionary.values()

dict_values(['tushar', 200000, 'vinitgatt1@gmail.com', 'Indore'])

In [ ]:
mydictionary = {101:"tushar","Salary":200000,"email":"vinitgatt1@gmail.com"}
x = mydictionary.pop(101) # -- Delete that key:value
 #  pop command always return that deleted value.
print(mydictionary,x)

{'Salary': 200000, 'email': 'vinitgatt1@gmail.com'} tushar

In [ ]:
# How to run loops in dictionary.
mydictionary = {10:"a",20:"b",30:"c"}
for i in mydictionary:
  print(i,mydictionary[i])

10 a
20 b
30 c

In [ ]:
# we also run a loop based on key: values --
#If we only want the keys in i:
mydictionary = {10:"a",20:"b",30:"c"}
for i in mydictionary.keys():
  print("Keys:",i)
# If we only want the values in i:
for i in mydictionary.values():
  print("Values:",i)

Keys: 10
Keys: 20
Keys: 30
Values: a
Values: b
Values: c

In [ ]:
mydictionary = {10:"a", "amount":1000}
mydictionary["amount"] = mydictionary["amount"] + 50
print(mydictionary)

{10: 'a', 'amount': 1050}

In [ ]:
# To check and print the count of total characters in a given string.
s="vinit"
dictionary = {"Total":0}
for i in s:
  dictionary["Total"] = dictionary["Total"] + 1
print(dictionary)

{'Total': 5}

In [ ]:
# WAP to print, if a is 1 time in the string so print a:1
# if b is 2 time in the string so print b:2 and soo on..
# Means count the values of a string via dictionary.

str = "abc"
# if user input is: "abcabaca". ==> {'a': 4, 'b': 2, 'c': 2}
mydictionary = {}
for i in str:
  if i in mydictionary:
    mydictionary[i] = mydictionary[i] + 1
  else:
    mydictionary[i] = 1
print(mydictionary)

{'a': 1, 'b': 1, 'c': 1}

In [ ]:
# Kaun Banega Crorepati Game Making by dictionary:

questionBank=[ {"Question":"What is the national animal of india?",
              "option":["A. Peacock",  "B. Lion", "C. Tiger", "D. Dog"],
              "Ans":"C",
              },
              {"Question":"Who is the father of nation?",
              "option":["A. Rabindra Nath Tagore",  "B. Mahatma Gandhi",
                        "C. Sharukh Khan", "D. Salman Khan"],
              "Ans":"B",
              },
              {"Question":"Who is the national bird of india?",
              "option":["A. Peacock",  "B. Pigeon",
                        "C. Parrot", "D. Eagle"],
              "Ans":"A",
              },
              {"Question":"Who is the national fruit of india?",
              "option":["A. Apple",  "B. Banana",
                        "C. Orange", "D. Mango"],
              "Ans":"D",
              },
              {"Question":"Who is the national Sports of india?",
              "option":["A. Cricket",  "B. Kabaddi",
                        "C. Hockey", "D. Football"],
              "Ans":"C",
              },
              {"Question":"Which city is Cleanest City of india?",
              "option":["A. Indore",  "B. Mumbai",
                        "C. Bangalore", "D. Delhi"],
              "Ans":"A",
              },
              {"Question":"Which city is known as Pink City of india?",
              "option":["A. Chittaurgarh",  "B. Jaipur",
                        "C. Udaipur", "D. Jodhpur"],
              "Ans":"B",
              },
              {"Question":"In which year India gets independence from British Govt?",
              "option":["A. 1948",  "B. 1946",
                        "C. 1951", "D. 1947"],
              "Ans":"D",
              },
              {"Question":"On which date, Indians Celebrate Republic Day?",
              "option":["A. 26th January",  "B. 15th August",
                        "C. 15th January", "D. 26th August"],
              "Ans":"A",
              },
              {"Question":"Which of the Indian King, Fought the Haldighati War against Maan Singh and Akbar?",
              "option":["A. Chhatrapati Shivaji Maharaj",  "B. Maharana Sangram Singh",
                        "C. Maharan Pratap Ji", "D. Prathavi Raj Chauhan Ji"],
              "Ans":"C",
              },
      ]
print("Welcome to Kaun Banega Crorepati")
total_Winning = 0
prizeMoney=[1000, 2500, 5000, 10000, 50000, 350000,
            640000, 1250000, 2500000, 5241500]
for i,q in enumerate(questionBank):
  print(f"\n The {i+1} question for money {prizeMoney[i]} will be on your screen. \n")
  print(q["Question"]) # Print the Questions step by step.

  for option in q["option"]: # For each Question print suitable options
    print(option) # For each Question print suitable options

  user_input = input("Choose any 1 option A, B, C, D: or press Q for Quit the Game")
  user_input = user_input.upper() # if user gave answer in Capital letters.

  if user_input == "Q": # If user want to Quit the game.
    print(f"Thank you for game and you won {total_Winning}")
    break
  if user_input ==q["Ans"]: # If user Answered correct option.
    print(f"\n Excellent! You are Winning.. {total_Winning}")
  else: # If user selected the wrong option.
    print(f"\n Sorry! Your Answer was Wrong, Game Over!!")
    total_Winning = 0
    break

In [ ]:
# What is enumerate() in Python?
# enumerate() is a built-in function in Python that allows you to
# loop through a list (or any iterable) and get both the index and
# the value at the same time.

colors = ['red', 'green', 'blue']
for index, value in enumerate(colors):
    print(index, value)
# enumerate() = index + value while looping
# Cleaner and more efficient than using a separate counter manually.
# Useful in loops where you need both the position and the item.

0 red
1 green
2 blue

In [ ]:
# Problem: WAP to print the values in list, how many times they
# are available in list.
# check each elements of list and how many time they occurs.
# means 10:2 , 20:1, 50:2
mylist = [10,20,10,40,50,30,50]
mydictionary = {}

for i in mylist:
  if i in mydictionary: # check the values of list if its present in list,
    mydictionary[i] = mydictionary[i] + 1 # then +1 in it.
  else:
    mydictionary[i] = 1 # Otherwise it will considered as 1.
print(mydictionary)

{10: 2, 20: 1, 40: 1, 50: 2, 30: 1}

In [ ]:
# Above Question basic Concept:

d={10:1}
if 20 in d:
  d[10]=d[10]+1
else:
  d[20]=1
print(d)

{10: 1, 20: 1}

In [ ]:
# Some problem of dictionary:

# Create a dictionary to store your name, age, and city. Print the dictionary.
person = {"name":"Vinit Gatt", "age":27,"city":"Indore"}
print(person)

{'name': 'Vinit Gatt', 'age': 27, 'city': 'Indore'}

In [ ]:
# Access and print only the age from the following dictionary:
person = {"name":"Vinit Gatt", "age":27,"city":"Indore"}
print(person["age"])

27

In [ ]:
# Add a new key "gender": "Male" to the above dictionary.
person["gender"] = "Male"
print(person)

{'name': 'Vinit Gatt', 'age': 27, 'city': 'Indore', 'gender': 'Male'}

In [ ]:
# Update the city value to "Mumbai" in the above dictionary.
person["city"] = "Pune"
print(person)

{'name': 'Vinit Gatt', 'age': 27, 'city': 'Pune', 'gender': 'Male'}

In [ ]:
# Delete the age key from the dictionary.
x=person.pop("age")
print(person,x)

{'name': 'Vinit Gatt', 'city': 'Pune', 'gender': 'Male'} 27

In [ ]:
# Check if the key "name" exists in the dictionary.
if "name" in person:
  print(person)

{'name': 'Vinit Gatt', 'city': 'Pune', 'gender': 'Male'}

In [ ]:
# Loop through the dictionary and print all keys.
for i in person.keys():
  print(i)

name
city
gender

In [ ]:
# Loop through the dictionary and print all values.
for i in person.values():
  print(i)

Vinit Gatt
Pune
Male

In [ ]:
# Loop through both keys and values.
for i in person.items():
  print(i)

('name', 'Vinit Gatt')
('city', 'Pune')
('gender', 'Male')

In [ ]:
# Create a dictionary using dict() function with keys: a, b, c and values: 1, 2, 3

def dict():
  dict={"a":1,"b":2,"c":3}
  return dict

In [ ]:
dict()

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Merge two dictionaries:

# dict1 = {"a": 1, "b": 2}
# dict2 = {"c": 3, "d": 4}

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2) # In dict1 we merge the dict2 with update command.
print(dict1) # And then print it.

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Count the number of keys in a dictionary.
mydict = {"a": 1, "b": 2, "c": 3, "d": 4}
count = 0
for i in mydict.keys():
  count=count+1
print(count)

4

In [ ]:
# Create a dictionary from two lists:
keys = ["name", "age", "city"]
values = ["Vinit", 25, "Delhi"]
mydict = {}
for i in range(len(keys)):
  mydict[keys[i]] = values[i]
print(mydict)

{'name': 'Vinit', 'age': 25, 'city': 'Delhi'}

In [ ]:
# Find the key with the maximum value in:

marks = {"Math": 90, "English": 88, "Science": 95}
for i in marks:
  if marks[i] == max(marks.values()):
    print(i,":",marks[i])

Science : 95

In [ ]:
# Problem: WAP to print the combinations of "a" character and print it
# a dictionary format.
# abc = {a:1 ab:1 abc:1}
s="abc"
mydict={}
for i in range(0,4):
  data = ""
  for j in range(0,i):
    data = data + s[j]
    mydict[data] = 1
print(mydict)

{'a': 1, 'ab': 1, 'abc': 1}

In [ ]:
# Problem: WAP to print the combinations of "a" character and then "b" character
# and at last "c" Character.
# {"a":1,"ab":1,"abc":1,"b":1,"bc":1,"c":1}
str="abc"
mydictionary = {}
for i in range(len(str)):
  data = ""
  for j in range(i,len(str)):
    data = data + s[j]
    mydictionary[data] = 1
print(mydictionary)

{'a': 1, 'ab': 1, 'abc': 1, 'b': 1, 'bc': 1, 'c': 1}

In [ ]:
# Problem: WAP to print the combination of "A" with "Z" as similar as "B" with "Y"
# When user inputs a str: ABC then received a output as ZYX
# And also with the same 26 Alphabets when user gave any input we received a viceversa
# of that str as output.

s = input("Enter a String:").upper()
mirror_dict = {}

for i in range(26):
  mirror_dict[chr(65+i)] = chr(90-i)
result = {}
for char in s:
  if char in mirror_dict:
    result[char] = mirror_dict[char]
print(result)

Enter a string: saloni
{'S': 'H', 'A': 'Z', 'L': 'O', 'O': 'L', 'N': 'M', 'I': 'R'}

In [3]:
# Problem: To print the sum of two numbers in the given list as 9.
# list = [0,1,2,4,7,11,14,15] or [1,2,3,4,5,6,7,8]
# means: 8+1 = 9 or 7+2 = 9
# Solve this by enumerate in loop, also print the output in dictionary.

mylist = [0,1,2,4,7,11,14,15]
target = 9

mydictionary = {}
result = {}

for index, value in enumerate(mylist):
    complement = target - value
    if complement in mydictionary:
        result[complement] = value  # or result[value] = complement
    mydictionary[value] = index  # store value with its index

print("Pairs that sum to", target, "are (in dict format):")
print(result)

Pairs that sum to 9 are (in dict format):
{2: 7}

In [ ]:
# Problem: Take a user input as integer value and convert that number
# into Roman number.
# user_input = 10
# output: X
# user_input = 9
# output: IX
# user_input  = 50
# output:L

n = int(input("Enter a number: "))

number = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
symbols = ["M",  "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]

roman = ""
temp = n  # To store the value in dictionary.
for i in range(len(number)):
    while n >= number[i]:
        roman += symbols[i]
        n -= number[i]

output = {temp : roman}
print(output)

Enter a number: 15
{15: 'XV'}

In [ ]:
# List: [[1],[1,1],[1,2,1],[1,3,3,1]]
starting_Element = 1 # Each Element of the list start from 1.
mylist = [] # Original list Or mother list
for i in range(0,6): # Numbers of row
  temp = [] # Each row of pascal's triangle are in nested list.
  for j in range(i,6): # Numbers of spaces
    print(" ",end="")
  for k in range(0,i+1): # Number of coloums
    if k==0 or i==k:
      print(1,end=" ")
      temp.append(1)
    else: # Adding the previous upper row two values.
      x = mylist[i-1][k-1]+mylist[i-1][k] # Store in new variable
      print(x,end=" ")
      temp.append(x)
  mylist.append(temp)
  print(" ")
print(mylist)

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

In [ ]:
# set: is a datatype denoted by this "set{}"
# set are mutable datatype
# set don't have duplicate values
# set have no indexing
# set are unordered

x = {} # if we do this,
print(type(x)) # So this is dictionary.

# if we want to use set.

x = set( {} ) # This is set.
print(type(x))

<class 'dict'>
<class 'set'>

In [ ]:
# Use of set:

x = {1,2,3,10,30,10,10,20,1,1,1,1} # Set already remove all the duplicate values before the printing.
print("Remove duplicate values:",x) # print the values in unordered manner

# Set are mutable datatype so we can change or add in their values:

x.add("hey") #add or insert the element at random position.
print("Inserting of hey:",x) # "hey" is inserted at random position.

x.discard(2) # Use to delete the element(2) # 2nd element deleted.
print("Delete the Element:",x)

Remove duplicate values {1, 2, 3, 20, 10, 30}
Inserting of hey: {1, 2, 3, 20, 10, 'hey', 30}
Delete the Element: {1, 3, 20, 10, 'hey', 30}

In [ ]:
# We want to add multiple value in set via list[].

x = {1,2,3,10,20,30} # set
print("Before set:",x)
# Now we add values in set
x.update([100,1000,20000,300000])
print("After value adding set:",x)

# Before set: {1, 2, 3, 20, 10, 30}
# After value adding set: {1, 2, 3, 10, 20, 30, 20000, 300000, 100, 1000}
# We can see the value which we are update in the set have updated
# in random positions or index.

# Frozen Set: Set which are immutable in property.
# They can't change their values.

Before set: {1, 2, 3, 20, 10, 30}
After value adding set: {1, 2, 3, 10, 20, 30, 20000, 300000, 100, 1000}

In [ ]:
# Union: the union of sets is an operation that combines all
#  unique elements from two or more sets into a new set.

# Intersection: The intersection of sets refers to finding the common elements present
#   in two or more sets.

# Is_Superset: n Python, a set A is considered a superset of another set B if all
# elements of set B are also present in set A.
# Set A = {10,20,30}
# Set B = {10,20,30}
# So both have same Elements and this is called as Is_Superset

# Disjoint:The isdisjoint() method of a set efficiently determines if it shares any elements
# with another iterable (which can be another set, a list, a tuple, etc.).
# It returns True if there are no common elements (i.e., the sets are disjoint)
# and False otherwise.
# Example of disjoint sets
set_a = {1, 2, 3}
set_b = {4, 5, 6}
print(f"Are set_a and set_b disjoint? {set_a.isdisjoint(set_b)}")

# Example of non-disjoint sets
set_c = {1, 2, 3}
set_d = {3, 4, 5}
print(f"Are set_c and set_d disjoint? {set_c.isdisjoint(set_d)}")

# Checking against other iterables
my_set = {10, 20, 30}
my_list = [30, 40, 50]
print(f"Is my_set disjoint from my_list? {my_set.isdisjoint(my_list)}")

Are set_a and set_b disjoint? True
Are set_c and set_d disjoint? False
Is my_set disjoint from my_list? False

In [ ]:
# Problem: Make a code for password creation:
# Take a string from a user input.
# 1. string should have one capital letter
# 2. string should have one small letter
# 3. string should have numeric digit.
# 4. string should have symbolic letter.
# 5. string should have minimum six letter or more.

string = input("Enter a String:")
types = set()

for ch in string:
  if ch>= 'A' and ch <='Z':
    types.add("Capital Letters")
  if ch >='a' and ch <='z':
    types.add("Small letters")
  if ch >='0' and ch <= '9':
    types.add("Numeric")
  else:
    types.add("Symbolic")
if len(string) >= 6 and "Capital Letters" in types and "Small letters" in types and "Numeric" in types and "Symbolic" in types:
  print("Valid String")
else:
  print("Invalid String")

Enter a String:Vinit@5298
Valid String

In [ ]:
# Take a string and print it in reverse
# But not use of slicing and reverse function.
# Take input from user.

# This code is used to print the characters in reversed.
s = input("Enter a string: ")

reversed_string = ""

for char in s:
  reversed_string = char + reversed_string
print(reversed_string)

Enter a string: My name is Vinit Gatt
ttaG tiniV si eman yM

In [ ]:
# This code is used to print the words in reversed format.
s = input("Enter a string: ")
words = []
word = ""
for ch in s:
    if ch != " ":
        word += ch
    else:
        words.append(word)
        word = ""
words.append(word)

n = len(words)
for i in range(n-1, -1, -1):
    if i == n - 1:
        print(words[i][0].upper() + words[i][1:], end=' ')
    elif i == 0 and words[i][-1] == '.':
        print(words[i][:-1].capitalize() + '.', end='')
    else:
        print(words[i], end=' ')

Enter a string: My name is Vinit Gatt
Gatt Vinit is name My

In [ ]:
from ast import comprehension
# Comprehension:
# List Comphrehension
# Dictionary Comphrehension
# Set Comprehension

# All are concise ways or simple ways to create a new list:

# list comprehension:
# We have a data in from range(1,11) => [1,2,3,..9,10]
# This is the normal way to print the list from 1 to 10.
newlist=[]
for i in range(1,11):
  newlist.append(i)
print("Normal Method:",newlist)

# Now, doing the same thing with the help of list comprehension.
newlist = [i for i in range(1,11)]
print("Comprehension Method:",newlist)

Normal Method: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Comprehension Method: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
newlist = [i**2 for i in range(1,11)]
print(newlist)
# This is called as List comprehension.

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# If user want to print the key pair format output:
{i:i**2 for i in range(1,11)} # In Dictionary format.
# This is called as Dictionary Comprehension.

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Check the even numbers via list comprehension.
[i for i in range(1,12) if i%2==0]

[2, 4, 6, 8, 10]

In [ ]:
# Check the odd numbers via list comprehension:
[i for i in range(1,11) if i%2 != 0]

[1, 3, 5, 7, 9]

In [ ]:
# Run a loop and in it a second nested loop and print the combination below:
# (1,2)
# (1,3)
# (1,4)
# (1,5)
# (2,2)
# (2,3)
# and so on..

[(i,j) for i in range(1,5) for j in range(2,6)]

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5)]

In [ ]:
# # Problem: Given list in which add two values to generate the target = 12
# But use only single loop to get the target.
list = [-1,0,1,2,11,16]
target = 12
start = 0
end = len(list) - 1

while start < end:
  if list[start] + list[end] == target:
    print("Addition of these two numbers:",list[start],list[end])
    break
  if list[start] + list[end] > target:
    end = end - 1
  else:
    start = start + 1

Addition of these two numbers: 1 11

In [ ]:
# Valid Parathesis on leet code:
# [ "{" ] --> { "}" : "{"}
# Closing of  the same brackets is known as valid parentheses.

string = input("Enter a String: ")

Newlist = []
pairs = {'(':')','[':']','{':'}'}

for ch in string:
  if ch in pairs:
    Newlist.append(ch)
  else:
    if not Newlist or pairs[Newlist.pop()] != ch:
      print(False)
      break
else:
  print(len(Newlist) == 0)

Enter a String: {}
True