<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Python_TOC_Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pattern Assignment


for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end="")
  for j in range(1,5):
    print("*",end="")
  print(" ")

 ****
  ****
   ****
    ****

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end="")
  for j in range(1,5):
    print("*",end="")
  print(" ")

    ****
   ****
  ****
 ****

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(64+j),end="")
  print(" ")

A
AB
ABC
ABCD
ABCDE

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(64+i),end=" ")
  print(" ")

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(1, 6):
  for j in range(i, 0, -1):
    print(chr(70 - j), end=" ")
  print(" ")

E
D E
C D E
B C D E
A B C D E

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print(j+1,end=" ")
  print(" ")

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print(chr(65+j),end=" ")
  print(" ")

  A B C D E
    A B C D
      A B C
        A B
          A

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end="")
  for j in range(1,6):
    print("*",end=" ")
  print(" ")

     * * * * *
    * * * * *
   * * * * *
  * * * * *
 * * * * *

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end="")
  for j in range(1,6):
    print(j,end=" ")
  print(" ")

     1 2 3 4 5
    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end="")
  for j in range(1,6):
    print(chr(64+j),end=" ")
  print(" ")

     A B C D E
    A B C D E
   A B C D E
  A B C D E
 A B C D E

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print(" ")

    *
   ***
  *****
 *******

In [ ]:
for i in range(4,0,-1):
  for j in range(5-i):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print(" ")

 *******
  *****
   ***
    *

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end="")
  for k in range(1,2*i):
    if k == 1 or k == 2*i-1 or i==4:
      print("*",end="")
    else:
      print(" ",end="")
  print(" ")

    *
   * *
  *   *
 *******

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")
for i in range(2,5):
  for j in range(5-i):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")
for i in range(2,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(5-i):
    print("*",end=" ")
  print(" ")

        *
      * *
    * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print(" ")
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(1,5-i+1):
    print("*",end=" ")
  print(" ")

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
for i in range(1,6):  # Upper part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end=" ")
    print()
for i in range(5 - 1, 0, -1):  # Lower part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
for i in range(1,6):  # Upper part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print(k, end=" ")
    print()
for i in range(5 - 1, 0, -1):  # Lower part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print(k, end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
# Upper half
for i in range(5, 0, -1):
    print("  " * (5 - i), end="")  # Indentation (2 spaces per level)
    for j in range(1, 2 * i):
        print(j, end=" ")
    print()

# Lower half
for i in range(2, 6):
    print("  " * (5 - i), end="")  # Indentation
    for j in range(1, 2 * i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
# Upper half
for i in range(5, 0, -1):
    print("  " * (5 - i), end="")  # Indentation (2 spaces per level)
    for j in range(1, 2 * i):
        print(chr(64+j), end=" ")
    print()

# Lower half
for i in range(2, 6):
    print("  " * (5 - i), end="")  # Indentation
    for j in range(1, 2 * i):
        print(chr(64+j), end=" ")
    print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I