<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/TOC_Patterns_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  ****
#   ****
#    ****
#     ****

for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(1,5):
    print("*",end="")
  print(" ")

 ****
  ****
   ****
    ****

In [ ]:
#     ****
#    ****
#   ****
#  ****

for i in range(1,5):
  for j in range(5-i):
    print(" ",end="")
  for k in range(1,5):
    print("*",end="")
  print(" ")

    ****
   ****
  ****
 ****

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or i==4 or j==1 or j==4:
      print("*",end="")
    else:
      print(" ",end="")
  print(" ")

****
*  *
*  *
****

In [ ]:
# A
# AB
# ABC
# ABCD
# ABCDE

for i in range(1,6):
  for j in range(1,i+1):
    print(chr(64+j),end="")
  print(" ")

A
AB
ABC
ABCD
ABCDE

In [ ]:
# A
# B B
# C C C
# D D D D
# E E E E E

for i in range(1,6):
  for j in range(1,i+1):
    print(chr(64+i),end=" ")
  print(" ")

A
B B
C C C
D D D D
E E E E E

In [ ]:
# E
# D E
# C D E
# B C D E
# A B C D E

for i in range(1,6):
  for j in range(1,i+1):
    print(chr(69-i+j),end=" ")
  print(" ")

E
D E
C D E
B C D E
A B C D E

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print("*",end=" ")
  print(" ")

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print(j+1,end=" ")
  print(" ")

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print(chr(65+j),end=" ")
  print(" ")

  A B C D E
    A B C D
      A B C
        A B
          A

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end="")
  for j in range(1,6):
    print(j,end=" ")
  print(" ")

     1 2 3 4 5
    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(" ",end="")
  for j in range(1,6):
    print(chr(64+j),end=" ")
  print(" ")

     A B C D E
    A B C D E
   A B C D E
  A B C D E
 A B C D E

In [ ]:
for i in range(1,5):
  for j in range(4-i):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print(" ")

   *
  ***
 *****
*******

In [ ]:
for i in range(4,0,-1):
  for j in range(4-i):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print(" ")

*******
 *****
  ***
   *

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end="")
  for k in range(1,2*i):
    if k == 1 or k == 2*i-1 or i==4:
      print("*",end="")
    else:
      print(" ",end="")
  print(" ")

    *
   * *
  *   *
 *******

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  print(" ")
for i in range(2,5):
  for j in range(5-i):
    print("*",end="")
  print(" ")

*
**
***
****
***
**
*

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print(" ")
for i in range(2,5):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(5-i):
    print("*",end="")
  print(" ")

    *
   **
  ***
 ****
  ***
   **
    *

In [ ]:
for i in range(1,5):
  for j in range(4-i):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print(" ")
for i in range(3,0,-1):
  for j in range(4-i):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print(" ")

   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(6-i):
    print(j+1,end=" ")
  print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    if i==1 or i==5 or j==1 or j==i:
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print(" ")

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    if i==1 or i==5 or j==1 or j==i:
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print(" ")

1 2 3 4 5
1     4
1   3
1 2
1

In [ ]:
for i in range(1, 6):
  print("  " * (6 - i), end=" ")
  for j in range(i, 2 * i):
    print(j, end=" ")
  for j in range(2 * i - 2, i - 1, -1):
    print(j, end=" ")
  print(" ")

           1
         2 3 2
       3 4 5 4 3
     4 5 6 7 6 5 4
   5 6 7 8 9 8 7 6 5

In [ ]:
for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end="")
  for k in range(1,i+1):
    if k==1 or k==i or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

    *
   * *
  *   *
 *     *
* * * * *

In [ ]:
for i in range(1,6):  # Upper part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end=" ")
    print()
for i in range(5 - 1, 0, -1):  # Lower part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
for i in range(1,6):  # Upper part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print(k, end=" ")
    print()
for i in range(5 - 1, 0, -1):  # Lower part of diamond
    for j in range(5 - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print(k, end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [4]:
# Sandglass Star Pattern:

# For upper part:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print("*",end=" ")
  for j in range(5-i):
    print("*",end=" ")
  for j in range(1,i+1):
    print(" ",end=" ")
  print(" ")

# For lower part:
for i in range(2,6):
  for j in range(6-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  for j in range(2,i+1):
    print("*",end=" ")
  for j in range(6-i):
    print(" ",end=" ")
  print(" ")

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
# Upper half
for i in range(5, 0, -1):
    print("  " * (5 - i), end="")  # Indentation (2 spaces per level)
    for j in range(1, 2 * i):
        print(j, end=" ")
    print()

# Lower half
for i in range(2, 6):
    print("  " * (5 - i), end="")  # Indentation
    for j in range(1, 2 * i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
# Upper half
for i in range(5, 0, -1):
    print("  " * (5 - i), end="")  # Indentation (2 spaces per level)
    for j in range(1, 2 * i):
        print(chr(64+j), end=" ")
    print()

# Lower half
for i in range(2, 6):
    print("  " * (5 - i), end="")  # Indentation
    for j in range(1, 2 * i):
        print(chr(64+j), end=" ")
    print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print(" ")

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print(chr(64+j),end=" ")
    else:
      print(" ",end=" ")
  print(" ")

A B C D E
A       E
A       E
A       E
A B C D E

In [ ]:
rows = int(input("Enter the row size for the pattern: "))
for i in range(1, rows + 1):  # Upper part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print("*", end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()
for i in range(rows - 1, 0, -1):  # Lower part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print("*", end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()

Enter the row size for the pattern: 5
        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [ ]:
rows = int(input("Enter the row size for the pattern: "))
for i in range(1, rows + 1):  # Upper part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print(k, end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()
for i in range(rows - 1, 0, -1):  # Lower part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print(k, end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()

Enter the row size for the pattern: 5
        1
      1   3
    1       5
  1           7
1               9
  1           7
    1       5
      1   3
        1

In [ ]:
rows = int(input("Enter the row size for the pattern: "))
for i in range(1, rows + 1):  # Upper part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print(chr(64+k), end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()
for i in range(rows - 1, 0, -1):  # Lower part of diamond
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if k == 1 or k == 2 * i - 1:  # Print star on borders
            print(chr(64+k), end=" ")
        else:
            print(" ", end=" ")  # Print space inside
    print()

Enter the row size for the pattern: 5
        A
      A   C
    A       E
  A           G
A               I
  A           G
    A       E
      A   C
        A

In [3]:
# Pascal's Triangle:

for i in range(5):
    # Print leading spaces for formatting
    print(" " * (5 - i), end="")

    num = 1
    for j in range(i + 1):
        print(num, end=" ")
        # Compute next number using combination logic
        num = num * (i - j) // (j + 1)

    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [1]:
# Butterfly Pattern with Hollow Diamond Center

# For Upper part:
for i in range(1,6):
  for j in range(6-i):
    print("*",end=" ")
  for j in range(1,i+1-1):
    print(" ",end=" ")
  for j in range(1,i+1-1):
    print(" ",end=" ")
  for j in range(6-i):
    print("*",end=" ")
  print(" ")

# For Lower Part:
for i in range(2,6):
  for j in range(1,i+1):
    print("*",end=" ")
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [2]:
# Butterfly Pattern:

#Upper Part:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(5-i):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")
#Lower Part:
for i in range(2,6):
  for j in range(6-i):
    print("*",end=" ")
  for j in range(1,i-1):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(" ",end=" ")
  for j in range(6-i):
    print("*",end=" ")
  print("")

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *