<a href="https://colab.research.google.com/github/Vinit5298/Python/blob/main/Triangle_Pattern_First_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Triangle Pattern Page--2

In [ ]:
for i in range(5): #---> Row
  for j in range(1,i+1): #---> Coloumn
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *

In [ ]:
for i in range(4): #---> Row
  for j in range(3-i+1): #---> Coloumn
    print("*",end=" ")
  print(" ")

* * * *
* * *
* *
*

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
num=1
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:
num=10
for i in range(5):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num-1
  print(" ")

10
9 8
7 6 5
4 3 2 1

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(chr(64+j),end=" ")
  print(" ")

A
A B
A B C
A B C D

In [ ]:
num=65
for i in range(5):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num=num+1
  print(" ")

A
B C
D E F
G H I J

In [ ]:
num=90
for i in range(5):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num=num-1
  print(" ")

Z
Y X
W V U
T S R Q

In [ ]:
n = 5  # number of rows
for i in range(1, n + 1):
    if i == 1:
        print("*")
    elif i == n:
        print("* " * n)
    else:
        print("*" + " " * (2 * i - 3) + "*")

*
* *
*   *
*     *
* * * * *

In [ ]:
num1=65
num2=1
for i in range(5):
  for j in range(1,i+1):
    print(num2,chr(num1),end=" ")
    num1=num1+1
    num2=num2+1
  print(" ")

1 A
2 B 3 C
4 D 5 E 6 F
7 G 8 H 9 I 10 J

In [ ]:
# Triangle Page 1 Questions

In [ ]:
for i in range(4):
  for j in range(4-i):
    print("*",end=" ")
  print(" ")

* * * *
* * *
* *
*

In [ ]:
num=10
for i in range(4):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print(" ")

10
11 12
13 14 15

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(chr(69-j),end=" ")
  print(" ")

D
D C
D C B
D C B A

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(j+9,end=" ")
  print(" ")

10
10 11
10 11 12
10 11 12 13

In [ ]:
for i in range(4): #---> Row
  for j in range(4-i): #---> Coloumn
    print(chr(68-j),end=" ")
  print(" ")

D C B A
D C B
D C
D

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        if j % 2 == 0:
            print("1", end=" ")
        else:
            print("2", end=" ")
    print(" ")

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [ ]:
rows = 4
ch = ord('F')  # Start from 'F'

for i in range(1, rows + 1):
    for j in range(i):
        print(chr(ch), end=" ")
        ch += 2  # Skip one letter each time (i.e., A, C, E, ...)
    print()

F
H J
L N P
R T V X

In [ ]:
# Third Page Questions

In [ ]:
for i in range(6):
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(6):
  for j in range(5-i):
    print("*",end=" ")
  print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5):
  for j in range(4-i):
    print(chr(65+j),end=" ")
  print(" ")

A B C D
A B C
A B
A

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(i,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4

In [ ]:
for i in range(4, 0, -1):
  for j in range(4, 4 - i, -1):
    print(j,end=" ")
  print(" ")

4 3 2 1
4 3 2
4 3
4

In [ ]:
for i in range(6):
  for j in range(5-i):
    print(j+1,end=" ")
  print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(7):
  for j in range(6-i):
    print(chr(70-j),end=" ")
  print(" ")

F E D C B A
F E D C B
F E D C
F E D
F E
F